/* common styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/*----------------------
 First Section Start
 ------------------------------ */

.container {

  display: flex;
  height: 646px;
  width: 1321px;
  background-color: #161616;
  border: 1px solid #161616;
  border-radius: 10px;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;


}

.details {
  width: 531px;
  height: 424px;
  color: antiquewhite;
  padding-left: 30px;

  margin: 111px 0 111px 106px;
}

h1 {
  font-size: 36px;

}

.image img {
  Width: 581px;
  Height: 613px;
  margin-bottom: none;
}

/*----------------------
 main button done ---------------
-----------------------*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 56px;
  background-color: rgb(69, 110, 231);
  border: 1px solid blue;
  font-size: 20px;
  font-weight: 900;
  border-radius: 20px;
  color: white;

}

.main-button {
  text-decoration: none;
  margin: 10px 5px 5px;
  padding: 5px 5px;
  color: antiquewhite;
}

.main-icon {
  height: 1fr;
  width: 1fr;
}

.fa-greater-than {
  color: antiquewhite;
  font-size: 20px;
}

/* --------------------
main button with icon 
----------------------*/
/* ---------------------------------------------------------------------
-------------------------------First Section End------------
-------------------------------------------------------------------- */

/* 2nd Section start############ */

.second-section {
  display: flex;
  justify-content: center;
}

.side-menu {
  background-color: #161616;
  width: 312px;
  height: 312px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  align-items: center;


}

.menu-options {
  height: 64px;
  width: 252px;
  border-radius: 10px;
  margin: 5px auto;
  padding: 5px;
  justify-content: center;
  background-color: antiquewhite;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  text-align: center;

  /*-----------  align-items: center;
                  text-align: center; ---------------*/

}

#selected-one {
  background-color: #DD0000;
  border-radius: 10px;
}

/*-----------------------------------
         2nd Section Side menu done 
 ----------------------------------*/

/*------------------------------
           Blog Bar start
 ----------------------------- */

.news-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-left: 24px;

}

.blog-button {
  padding: 5px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
}

.image-details {
  width: 312px;
  height: 362px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  margin-left: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.image-details p {
  margin-left: 20px;
}


.icon-div {
  display: flex;
  justify-content: space-evenly;
}


.icon-div .paragraph img {
  /* margin-right: 15px; */
  margin-top: 10px;

}

.icon-div .paragraph span {
  margin-top: 0;
  margin-left: 15px;
  padding-top: 0;
}

/*--------------------------------------
                   blog bar done for now 
--------------------------------------*/

/* --------------------------------
              Footer section starts
----------------------------- */

.footer {
  width: 100%;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #161616;
  color: antiquewhite;
}

.footer-title {
  text-align: center;
  align-items: center;
  margin: 50px auto 50px auto;

}

#end-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 1320px;
}

.footer-options {
  font-weight: 400;
  font-size: 25px;
  margin: 50px auto;
  display: flex;

  align-items: center;
  justify-content: space-evenly;

}
.social-icon{
  visibility: none;
}

/*-----------------
 Footer ends here 
 ------------------*/

/* mobile device responsiveness */

@media screen and (max-width:576px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: left;

  }

  .details {
    width: 75%;
    color: antiquewhite;
    text-align: center;
    justify-content: left;


  }

  h1 {
    font-size: 26px;
  }


  .image img {
    height: 245px;
    width: 243px;
    margin-top: 220px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 40px;
    background-color: rgb(69, 110, 231);
    border: 1px solid blue;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
  }

  .second-section {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: start;
    row-gap: 15px;
    justify-items: center;
  }

  .side-menu {
    background-color: whitesmoke;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    align-items: center;
    justify-items: center;


  }
  .menu-options {
    height: 50px;
    width: 152px;
    border-radius: 10px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    background-color: antiquewhite;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    text-align: center;
  }
  .news-bar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
 
  .image-details {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 24px;
    font-weight: 500;
   
  }
  #blog-photo{
    width: 50%;
    margin: 0 auto;
  }

  .footer{
    margin-top: 50px;
    width: 100%;
  }
  .footer-title{
    margin-bottom: 10px;
  }
  #end-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
  }
  
  .footer-options {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 10px;}
   
    .social-icon{
      visibility: visible;
      align-items: center;
      text-align: center;
    }

    .social-link{
      color: antiquewhite;
    }
  

}